<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
    <img src="assets/image/DWlogo.png" width="60" alt="logo" />
    &nbsp; Docker Watch</a>
  <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <button type="button" class="btn btn-outline-info">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </button>
      &nbsp;
      <button type="button" class="btn btn-outline-danger">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Hosts</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </h6>
        <br />
        <ul class="nav flex-column mb-2">

          <li class="nav-item" *ngFor="let host of hosts">
            <a class="nav-link" href="#">
              <button type="button" style="width: 100%;" (click)="ConnectHost(host)"
                class="btn {{ host.Id === connectedHost.Id ? 'btn-outline-success' : 'btn-outline-warning' }}">

                <h4>
                  <i class="fa fa-server" aria-hidden="true"></i>
                  &nbsp; {{ host.Name }} <br />
                </h4>
                {{ host.Id === connectedHost.Id ? 'Connected' : 'Disconnected' }}
              </button>

            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 vh-100">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary"
              (click)="ConnectHost(connectedHost)">Disconnect</button>
          </div>
        </div>
      </div>

      <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Connected Host</h5>
            <p class="card-text">{{ connectedHost.Name }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Up time</h5>
            <p class="card-text"><small class="text-muted">{{ connectedHost.Status }}</small></p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Status</h5>
            <p class="card-text">{{ connectedHost.Id === "-" ? "Disconnected" : "Connected" }}</p>
          </div>
        </div>
      </div>

      <br>



      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#Containers">Containers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#Images">Images</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="Containers" class="tab-pane active"><br>

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4>Containers</h4>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">

                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                This week
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-2">
              <div class="nav flex-column nav-pills" aria-orientation="vertical">
                <div  *ngFor="let container of this.connectedHost.Containers; index as i">
                  <a class="nav-link {{selectedContainers.Id === container.Id ? 'active' : '' }}"  data-toggle="pill" href="#v-pills-{{container.Id}}" 
                    (click)="SelectContainer(container)">{{container.Names[0]}}</a>
                </div>
              </div>
            </div>
            <div class="col-10">


              <div class="tab-content" >
                
                <div class="tab-pane fade {{selectedContainers.Id === container.Id ? 'show active' : '' }}" *ngFor="let container of this.connectedHost.Containers;" >
                  <div class="card bg-dark text-white">
                    {{ container.Id }}
                    <h5 class="card-title">System Logs</h5>
                    <pre><code class="plaintext text-white">
START GUI WM_LBUTTONDOWN BUTTON BUTTON-1 myprog.p
START GUI WM_KILLFOCUS FILL-IN FILL-IN-1 myprog.p
START GUI WM_SETFOCUS BUTTON BUTTON-1 myprog.p
START GUI WM_LBUTTONUP BUTTON BUTTON-1 myprog.p
PUSH FOCUS-IN BUTTON BUTTON-1 myprog.p
PUSH ENTRY BUTTON BUTTON-1 myprog.p
PUSH LEAVE FILL-IN FILL-IN-1 myprog.p
Begin-Trigger "LEAVE OF FILL-IN FILL-IN-1" myprog.p
End-Trigger "LEAVE OF FILL-IN FILL-IN-1" 
PRGS LEAVE FILL-IN FILL-IN-1 return no-apply
POP LEAVE FILL-IN FILL-IN-1 myprog.p
START GUI WM_KILLFOCUS BUTTON BUTTON-1 myprog.p
START GUI WM_SETFOCUS FILL-IN FILL-IN-1 myprog.p
PRGS ENTRY BUTTON BUTTON-1 discarded
POP ENTRY BUTTON BUTTON-1 myprog.p
PRGS FOCUS-IN BUTTON BUTTON-1 discarded
POP FOCUS-IN BUTTON BUTTON-1 myprog.p
                    </code></pre>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

        </div>
        <div id="Images" class="container tab-pane fade"><br>
          <h3>Image List</h3>
          <ul >
            <li *ngFor="let imageItem of this.connectedHost.Images">
              {{ imageItem.RepoTags[0] }}
            </li>
          </ul>
        </div>
      </div>
    </main>
  </div>
</div>