<div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box">
          <h1>Login</h1>
            <p class="text-muted"> Please enter your login and password!</p>
            <input type="text" name="" placeholder="Username" [(ngModel)]="username" >
            <input type="password" name="" placeholder="Password" [(ngModel)]="password">
            <input type="button" name="" value="Login" (click)="onLogin()" />
        </form>
      </div>
    </div>
  </div>