<div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="box">
          <h1>Login</h1>
            <p class="text-muted"> Please enter your login and password!</p>
            <input type="text" name="username" placeholder="Username" [(ngModel)]="userDetails.username" >
            <input type="password" name="password" placeholder="Password" [(ngModel)]="userDetails.password">
            <input type="button" name="loginbtn" value="Login" (click)="onLogin()" />
        </form>
      </div>
    </div>
  </div>