
.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    margin-top: 50%
}

.box div input[type="text"],
.box div input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    text-transform: uppercase;
    font-weight: 500
}

.box div input[type="text"]:focus,
.box div input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box div button {
    border: 0;
    background: none;
    display: block;
    color: black;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box div button:hover {
    background: #2ecc71
}
